.App {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 0;
}

.App-logo {
    width: 85%;
    height: auto;
    margin: auto;
}

.login-page {
    width: 70%;
    padding: 5%;
    margin: auto;
}

.form input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    background: #cbcbcb;
    width: 100%;
    border: 0;
    margin: 0 0 3%;
    padding: 4% 5%;
    box-sizing: border-box;
    font-size: 140%;
}

.form button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    background: rgb(88, 165, 90);
    width: 100%;
    border: 0;
    padding: 4%;
    color: white;
    font-size: 140%;
    cursor: pointer;
}

    .form button:hover, .form button:active, .form button:focus {
        background: rgb(67, 127, 160);
    }

.form .message {
    margin: 4% 0 0;
    color: #8e8d8d;
    font-size: 130%;
}

    .form .message a {
        color: rgb(61, 117, 63);
    }

body {
    background: #98ce7d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 5% 0;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    background-color: darkgreen;
    color: white;
}
